<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--TEST-->
    <add name="conexionCRM" connectionString="Data Source=192.168.3.231;Initial Catalog=WMS_ACCURACY_ITSANET;User Id=wms;Password=sistemas09$;" />
    <!--PRODUCCION-->
    <!--<add name="conexionCRM" connectionString="Data Source=192.168.3.245;Initial Catalog=WMS_ACCURACY_ITSANET;User Id=wms;Password=sistemas09$;" />-->
  </connectionStrings>
</configuration>